{% extends "base.html" %}

{% block content %}
<!-- HOME -->
<div id="home" class="home-section home-default dark overlay home-bg2">
	<div class="home-table">
		<div class="home-inner">
			<div class="container">
				<header>
					<h1>Pancho Tobar</h1>
					<div class="home-sub-title">Regálate un año</div>
				</header>

				<a href="#contact-form" class="btn btn-default btn-lg scrollTo">Contacto</a>
			</div>
		</div>
	</div>
</div>
<!-- // HOME -->


<!-- conoceme -->
<div id="features" class="section grey">
	<div class="container">
		<header class="section-header">
			<h2>Conóceme</h2>
			<!-- <div class="section-description">
				<p>With our services you get many enjoyable conoceme.</p>
			</div> -->
		</header>
		<div class="section-description"><p>Nací por allá en los 70s, 1970 para ser más exacto.
Autodidacta por naturaleza a pesar que pasé por buenos colegios y universidades (instituto nacional, UMCE, U. de Lichtenstein) pero siempre mi mayor motivación se proyectó hacia estudiar, por mi cuenta y en mis tiempos,  los temas que me interesaban, no tenía mucha paciencia para seguir las mallas curriculares, por lo que buscaba distintas fuentes, con distintas miradas y conclusiones sobre esos temas.
El deporte ha sido mi vida, modelándola en forma y fondo. Los valores del compañerismo en la cancha, el deleite de estar al aire libre, el luchar contra los límites me ha hecho lo que soy. Participé activamente y a buen nivel en fútbol, rugby, voleibol, basquetbol, balonmano, tenis y snowboard, en estos dos últimos hice cursos en Suiza (J&S) y Austria (A.S.A.) para desarrollarme como profesor. Desde los 17 años impartí clases en gimnasios de Aeróbica, Aerobóx, etc. </p></div>
		<!-- <div class="row">

			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-flask"></i></div>
				<div class="content">
					<h4>Parallax Images</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolorem dignissimos, enim voluptatum praesentium!</p>
				</div>
			</div>

			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-globe"></i></div>
				<div class="content">
					<h4>Working forms</h4>
					<p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-desktop"></i></div>
				<div class="content">
					<h4>Responsive Design</h4>
					<p>Consectetur adipisicing elit. Quia, a obcaecati. Iste voluptatibus architecto soluta, ipsum.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-cog"></i></div>
				<div class="content">
					<h4>Filtering Portfolio</h4>
					<p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-heart"></i></div>
				<div class="content">
					<h4>Created with love</h4>
					<p>Amet aliquam, voluptas rerum sequi quod natus! Corporis excepturi ab quia quis a quibusdam.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-clock-o"></i></div>
				<div class="content">
					<h4>Save your time</h4>
					<p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
				</div>
			</div>
		</div> -->
	</div>
</div>
<!-- // FEATURES -->



<!-- FACTS -->
<div id="facts" class="section dark overlay">
	<div class="container">
		<div class="row">
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="50"></span>+</div>
				<div class="title">programas</div>
			</div>
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="700"></span>+</div>
				<div class="title">horas</div>
			</div>
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="20"></span>+</div>
				<div class="title">talleres</div>
			</div>
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="370"></span>+</div>
				<div class="title">personas</div>
			</div>
		</div>
	</div>
</div>
<!-- // FACTS -->


<!-- PORTFOLIO -->
<div id="portfolio" class="section">
	<div class="container">
		<header class="section-header">
			<h2>Portfolio</h2>
			<div class="section-description">Take a look to our portfolio. It is really cool!</div>
		</header>

		<!-- Filter -->
		{% comment %}
		<ul id="portfolio-filter" class="portfolio-filter">
		<li><a href="#" data-filter-by="*" class="active">All</a></li>
		<li><a href="#" data-filter-by=".web-design">Web Design</a></li>
		<li><a href="#" data-filter-by=".development">Development</a></li>
		<li><a href="#" data-filter-by=".art">Art</a></li>
	</ul>
		{% endcomment %}
		<!-- // Filter -->

		<div id="isotope" class="row">

			<!-- Item -->
			{% for service in services %}
			<div class="portfolio-item col-md-4 col-xs-6 web-design development">
				 <article>
					 <div class="image-container">
						 <div class="image">
							 <a href="{{ service.get_absolute_url }}">
								 {% if service.image %}
								 	<img src="{{ service.image.image_detail }}" alt="">
								 {% endif %}
								 <span class="info"><span><i class="fa fa-search"></i></span></span>
							 </a>
						 </div>
					 </div>
					 <h4>{{ service.name }}</h4>
				 </article>
			</div>
			{% endfor %}

			<!-- // Item -->
		</div>
	</div>
</div>
<!-- // PORTFOLIO -->


<!-- PRICES -->
<div id="prices" class="section dark overlay">
	<div class="container">
		<header class="section-header">
			<h2>Programa</h2>
			<div class="section-description">
				<p>Es un programa personalizado de acompañamiento para que logres el cuerpo que mereces tener. También trabajaremos para que tu figura exterior vaya de la mano con una sensación de bienestar interior.
El programa es fruto de muchos años de observación teórica y empírica. Está basado en los conocimientos que plasmé en mi libro pero esta vez centrado en ti.
La realidad muestra que cada persona funciona y responde de manera distinta a estímulos de todo tipo, por lo que el programa se diseña especialmente pensando en tus necesidades y en tu realidad.</p>
<p>La Entrevista inicial tiene un costo de: $ 70.000. (Pero si acordamos hacer el programa se descuenta del valor de los 3 primeros meses).</p>
			</div>
		</header>
		<div class="row">
			<div class="price-item col-md-4 col-xs-12">
				<div class="price-block">
					<h3 class="title">Principiante</h3>
					<div class="amount">
						<div class="amount-i">$ 750.000<span class="promo">-10%</span></div>
						<!-- <div class="amount-i">$ 750.000<span class="promo">-10%</span></div> -->
					</div>
					<ul class="inf">
						<li>Período de tres meses, en que una vez a la semana te haré coaching</li>
						<li>Incluye: acompañar, instruir y entrenar) para ir guiándote en el programa, descubrir barreras, buscar alternativas, desafiarte, empujarte a superar momentos, reírnos, etc.</li>
						<li>En estos 3 primeros meses te enseñare qué, cuándo, cómo y por qué comer y además te mostraré algunos ejercicios cortos y específicos para bajar tu talla.</li>
						<li>Estaré disponible para que me llames o me conectes por WhatsApp, la idea es que cuando estés en una encrucijada o con dudas importantes, nos conectemos y sientas que estamos juntos en este camino.
						<li>A través de tu ingreso directo como alumno/a puedes acceder a tu programa y revisar nuestros compromisos, logros y medidas en el tiempo. </li>
						<li>Después de esos primeros tres meses, evaluamos nuestros resultados y decidimos si damos el paso a los siguientes 3 meses (donde se dan los resultados más tangibles).</li>
					</ul>
					<!-- <div class="buy"><a href="#">Buy now</a></div> -->
				</div>
			</div>

			<div class="price-item col-md-4 col-xs-12">
				<div class="price-block selected">
					<h3 class="title">Avanzado</h3>
					<div class="amount">
						<div class="amount-i">$ 750.000</div>
					</div>
					<ul class="inf">
						<li>En este segundo período vamos saliendo de lo macro para fijarnos en los detalles</li>
						<li>Apoyamos a esa parte del cuerpo que está más atrasada con algún masaje o electro-estimulación</li>
						<li>vamos perfeccionando la alimentación atendiendo a aquello que te ha servido y desechando lo que en ti no ha mostrado efecto</li>
						<li>Habitualmente este es el período con mayor descenso en la talla.</li>
						<li>Nuevamente terminamos este período y llegamos a la opción de continuar por 3 meses más,  o terminar porque ya te sientes con suficientes conocimientos y control sobre ti para seguir la última etapa sin apoyo</li>
						<li>Es tu decisión, si puedes mantenerte en el programa sin ayuda estaré feliz por ti.</li>
					</ul>
					<!-- <div class="buy"><a href="#">Buy now</a></div> -->
				</div>
			</div>

			<div class="price-item col-md-4 col-xs-12">
				<div class="price-block">
					<h3 class="title">Pro</h3>
					<div class="amount">
						<div class="amount-i">$ 750.000</div>
					</div>
					<ul class="inf">
						<li>Este tercer período de 3 meses es una prolongación del segundo</li>
						<li>te llevará con seguridad a un conocimiento de ti mismo/a tan acabado que tendrás claro cómo mantenerte</li>
						<li>Incluso volver a enrielarte ante cualquier situación inusual o fuera de lo normal.</li>
						<li>Después de estos 9 meses termina definitivamente el programa y espero que estés feliz con tus resultados y hayas sumado un amigo.</li>
					</ul>
					<!-- <div class="buy"><a href="#">Buy now</a></div> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- // PRICES -->



<!-- VIDEO -->
<div id="video" class="section grey shape">
	<div class="container">
		<header class="section-header">
			<h2>Studio History</h2>
			<div class="section-description">
				<p>This video will tell you about our history</p>
			</div>
		</header>

		<div class="row">
			<div class="col-md-12">
				<div class="video-container"><iframe src="http://player.vimeo.com/video/87701971?portrait=0&amp;color=ffffff" allowfullscreen=""></iframe></div>
			</div>
		</div>
	</div>
</div>
<!-- // VIDEO -->


<!-- CONTACT FORM -->
{% include "contacts/ajax/contact_form.html" with form=form %}
<!-- // CONTACT FORM -->
{% endblock content %}
