#color-changer {
    list-style: none;
    margin: -105px 0 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 10
}

#color-changer a {
    background: #eee;
    display: block;
    opacity: .6;
    position: relative;
    width: 30px;
    height: 30px;
    -moz-transition: all .2s ease;
    -webit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 1
}

#color-changer a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 2
}

#color-changer a.red {
    background: #ea5859
}

#color-changer a.light-blue {
    background: #58aaea
}

#color-changer a.green {
    background: #7dba55
}

#color-changer a.turqoise {
    background: #2ab877
}

#color-changer a.purple {
    background: #ba2ebf
}

#color-changer a.yellow {
    background: #f1c40f
}

#color-changer a.orange {
    background: #f39c12
}
