{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">

	<title>Creatorica</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CDamion">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link id="css" rel="stylesheet" href="{% static 'css/red.css' %}">

	<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><![endif]-->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
	<div>Creatorica.</div>
</div>
<!-- // Preloader -->

<!-- Loader -->
<div id="loader">
	<div class="loadingspin"></div>
</div>
<!-- // Loader -->

<!-- NAVBAR -->
<nav id="header" class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Creatorica.</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#home">Home</a></li>
				<li><a href="#features">Features</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#prices">Prices</a></li>
				<li><a href="#video">History</a></li>
				<li><a href="#contact-form">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- // NAVBAR -->


<!-- HOME -->
<div id="home" class="home-section home-default dark overlay home-bg2">
	<div class="home-table">
		<div class="home-inner">
			<div class="container">
				<header>
					<h1>Creatorica</h1>
					<div class="home-sub-title">We create awesome designs</div>
				</header>

				<a href="#contact-form" class="btn btn-default btn-lg scrollTo">Contact Us</a>
			</div>
		</div>
	</div>
</div>
<!-- // HOME -->

<!-- FEATURES -->
<div id="features" class="section grey">
	<div class="container">
		<header class="section-header">
			<h2>Features</h2>
			<div class="section-description">
				<p>With our services you get many enjoyable features.</p>
			</div>
		</header>
		<div class="row">
			<!-- Feature -->
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-flask"></i></div>
				<div class="content">
					<h4>Parallax Images</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolorem dignissimos, enim voluptatum praesentium!</p>
				</div>
			</div>
			<!-- // Feature -->

			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-globe"></i></div>
				<div class="content">
					<h4>Working forms</h4>
					<p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-desktop"></i></div>
				<div class="content">
					<h4>Responsive Design</h4>
					<p>Consectetur adipisicing elit. Quia, a obcaecati. Iste voluptatibus architecto soluta, ipsum.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-cog"></i></div>
				<div class="content">
					<h4>Filtering Portfolio</h4>
					<p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-heart"></i></div>
				<div class="content">
					<h4>Created with love</h4>
					<p>Amet aliquam, voluptas rerum sequi quod natus! Corporis excepturi ab quia quis a quibusdam.</p>
				</div>
			</div>
			<div class="feature-item col-md-4 col-sm-6">
				<div class="icon-block"><i class="fa fa-clock-o"></i></div>
				<div class="content">
					<h4>Save your time</h4>
					<p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- // FEATURES -->

<!-- FACTS -->
<div id="facts" class="section dark overlay">
	<div class="container">
		<div class="row">
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="50"></span>+</div>
				<div class="title">projects</div>
			</div>
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="300"></span></div>
				<div class="title">hours</div>
			</div>
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="2000"></span>+</div>
				<div class="title">users</div>
			</div>
			<div class="fact-item col-md-3 col-sm-6 col-xs-12">
				<div class="digits"><span class="counter" data-to="150"></span></div>
				<div class="title">tweets</div>
			</div>
		</div>
	</div>
</div>
<!-- // FACTS -->

<!-- PORTFOLIO -->
<div id="portfolio" class="section">
	<div class="container">
		<header class="section-header">
			<h2>Portfolio</h2>
			<div class="section-description">Take a look to our portfolio. It is really cool!</div>
		</header>

		<!-- Filter -->
		<ul id="portfolio-filter" class="portfolio-filter">
			<li><a href="#" data-filter-by="*" class="active">All</a></li>
			<li><a href="#" data-filter-by=".web-design">Web Design</a></li>
			<li><a href="#" data-filter-by=".development">Development</a></li>
			<li><a href="#" data-filter-by=".art">Art</a></li>
		</ul>
		<!-- // Filter -->

		<div id="isotope" class="row">

			<!-- Item -->
			<div class="portfolio-item col-md-4 col-xs-6 web-design development">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+1" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<!-- // Item -->

			<div class="portfolio-item col-md-4 col-xs-6 web-design art">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+2" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<div class="portfolio-item col-md-4 col-xs-6 art">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+3" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<div class="portfolio-item col-md-4 col-xs-6 development art">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+4" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<div class="portfolio-item col-md-4 col-xs-6 art development">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+5" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<div class="portfolio-item col-md-4 col-xs-6 web-design art">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+6" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<div class="portfolio-item col-md-4 col-xs-6 web-design">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+7" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<div class="portfolio-item col-md-4 col-xs-6 art">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+8" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
			<div class="portfolio-item col-md-4 col-xs-6 web-design">
				<article>
					<div class="image-container">
						<div class="image">
							<a href="http://placehold.it/400x280.jpg" class="fancybox" data-fancybox-group="portfolio">
								<img src="http://placehold.it/400x280.jpg&text=Image+9" alt="">
								<span class="info"><span><i class="fa fa-search"></i></span></span>
							</a>
						</div>
					</div>
					<h4>Awesome Title</h4>
					<div class="tags">design, html, css</div>
				</article>
			</div>
		</div>
	</div>
</div>
<!-- // PORTFOLIO -->

<!-- SUBSCRIBE -->
<div id="subscribe" class="section dark overlay">
	<div class="container">
		<header class="section-header">
			<h3>Subscribe Our <span class="text-primary">Newsletter</span></h3>
			<div class="section-description">
				<p>Our newsletter is very interesting for you!</p>
			</div>
		</header>

		<!-- Form -->
		<div class="subscribe-form">
			<form method="POST" action="subscribe.php" id="subscribe-form" class="form">
				<div class="form-group">
					<input type="email" class="form-control email" name="" placeholder="your@email.com" required>
					<input type="submit" class="btn btn-default" value="Submit">
				</div>
			</form>

			<div id="message-box" class="message-box"></div>
		</div>
		<!-- // Form -->

	</div>
</div>
<!-- // SUBSCRIBE -->

<!-- PRICES -->
<div id="prices" class="section">
	<div class="container">
		<header class="section-header">
			<h2>Our Prices</h2>
			<div class="section-description">
				<p>Check out our plans</p>
			</div>
		</header>

		<div class="row">
			<div class="price-item col-md-4 col-xs-12">
				<div class="price-block">
					<h3 class="title">Basic</h3>
					<div class="amount">
						<div class="amount-i">50$</div>
					</div>
					<ul class="inf">
						<li>Lorem ipsum dolor sit</li>
						<li>Amet, consectetur adipisicing elit</li>
						<li>Quasi, ducimus deleniti</li>
						<li>Aliquid hic optio ex</li>
					</ul>
					<div class="buy"><a href="#">Buy now</a></div>
				</div>
			</div>
			<div class="price-item col-md-4 col-xs-12">
				<div class="price-block selected">
					<h3 class="title">Advanced</h3>
					<div class="amount">
						<div class="amount-i">100$<span class="promo">-10%</span></div>
					</div>
					<ul class="inf">
						<li>Lorem ipsum dolor sit</li>
						<li>Unde fugiat vitae qui!</li>
						<li>Consequuntur, beatae soluta quasi autem!</li>
						<li>Aliquid hic optio ex</li>
					</ul>
					<div class="buy"><a href="#">Buy now</a></div>
				</div>
			</div>
			<div class="price-item col-md-4 col-xs-12">
				<div class="price-block">
					<h3 class="title">Ultimate</h3>
					<div class="amount">
						<div class="amount-i">150$</div>
					</div>
					<ul class="inf">
						<li>Lorem ipsum dolor sit</li>
						<li>Amet, consectetur adipisicing elit</li>
						<li>Quasi, ducimus deleniti</li>
						<li>Praesentium aut error nobis</li>
					</ul>
					<div class="buy"><a href="#">Buy now</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- // PRICES -->

<!-- VIDEO -->
<div id="video" class="section grey shape">
	<div class="container">
		<header class="section-header">
			<h2>Studio History</h2>
			<div class="section-description">
				<p>This video will tell you about our history</p>
			</div>
		</header>

		<div class="row">
			<div class="col-md-12">
				<div class="video-container"><iframe src="http://player.vimeo.com/video/87701971?portrait=0&amp;color=ffffff" allowfullscreen=""></iframe></div>
			</div>
		</div>
	</div>
</div>
<!-- // VIDEO -->

<!-- CONTACT FORM -->
<div id="contact-form" class="section">
	<div class="container">
		<header class="section-header">
			<h2>Contact Us</h2>
		</header>

		<div id="c-alert-box"></div>

		<form id="c-form" action="contact.php" name="contactform" method="post">
			<div class="row contact-form">
				<div class="form-group col-md-6"><input type="text" name="name" class="form-control" placeholder="Name"></div>
				<div class="form-group col-md-6"><input type="email" name="email" class="form-control" placeholder="E-mail" required></div>
				<div class="form-group col-md-12"><input type="text" name="subject" class="form-control" placeholder="Subject"></div>
				<div class="form-group col-md-12"><textarea class="form-control" name="message" rows="6" placeholder="Your Message ..." required></textarea></div>

				<!-- Submit Button -->
				<div class="col-md-12 text-center">
					<input type="submit" value="Send Message" id="submit" class="btn btn-default btn-lg">
				</div>
				<!-- // Submit Button -->

			</div>
		</form>
	</div>
</div>
<!-- // CONTACT FORM -->

<!-- MAP -->
<div id="map" class="grey">
	<div id="google-map"></div>
	<div class="container">
		<div class="row">
			<div class="contact-block col-md-6 col-xs-8">
				<div class="item"><span><i class="fa fa-mobile"></i></span> +375 (29) 5777525</div>
				<div class="item"><span><i class="fa fa-skype"></i></span> inferusvv</div>
				<div class="item"><span><i class="fa fa-envelope"></i></span> <a href="#">mail@demo.com</a></div>
				<ul class="social">
					<li><a href="#"><i class="fa fa-vk"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- // MAP -->

<!-- FOOTER -->
<footer id="footer">
	<div class="container">© 2014 Creatorica, Web-Design Agency</div>
</footer>
<!-- // FOOTER -->

<!-- SCRIPTS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/jquery.isotope.pkgd.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.iheight.js"></script>
<script src="js/jquery.superslides.min.js"></script>
<script src="js/jquery.owl.carousel.min.js"></script>
<script src="js/custom.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script>
	function initialize() {
		var myLatlng = new google.maps.LatLng(40.714353,-74.005973),
				mapOptions = {
					zoom: 16,
					center: new google.maps.LatLng(40.714353,-74.010973),
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					disableDefaultUI: true
				},
				map = new google.maps.Map(document.getElementById('google-map'), mapOptions),
				marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title: 'Creatorica'
				});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!-- // SCRIPTS -->

<!-- DEMO FEATURES -->
<link rel="stylesheet" href="demo/demo.css">
<script src="demo/demo.js"></script>
<ul id="color-changer">
	<li><a href="#" class="red"></a></li>
	<li><a href="#" class="light-blue"></a></li>
	<li><a href="#" class="green"></a></li>
	<li><a href="#" class="turqoise"></a></li>
	<li><a href="#" class="purple"></a></li>
	<li><a href="#" class="yellow"></a></li>
	<li><a href="#" class="orange"></a></li>
</ul>
<!-- // DEMO FEATURES -->

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25749287 = new Ya.Metrika({id:25749287}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25749287" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
