{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">

	<title>{% block title %}Pancho Tobar{% endblock title %}</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CDamion">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link id="css" rel="stylesheet" href="{% static 'css/red.css' %}">

	<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><![endif]-->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
	<div class="shadow-font">Pancho Tobar</div>
</div>
<!-- // Preloader -->
<!-- Loader -->
<div id="loader">
	<div class="loadingspin"></div>
</div>
<!-- // Loader -->

<!-- NAVBAR -->
<nav id="header" class="navbar navbar-inverse navbar-static-top {% if request.path == '/' %}lam{% endif %} {% if request.path != '/' %}selected{% endif %}
" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand shadow-font" href="{% url 'home' %}">
				<img src="{% static 'img/logo_gray.png' %}" alt="Pancho Tobar" style="position: absolute; top: 5px; height: 70%;">
				<span style="margin-left: 70px;" class="shadow-font">Pancho Tobar</span>
			</a>
			{% if request.path == '/' %}
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
			{% endif %}
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				{% if request.path == '/' %}
				<li class="active"><a href="{% url 'home' %}">Inicio</a></li>
				<li><a href="http://{{ request.META.HTTP_HOST }}{% url 'home' %}#features" class="navbar_head">Conóceme</a></li>
				<li><a href="http://{{ request.META.HTTP_HOST }}{% url 'home' %}#portfolio" class="navbar_head">Charlas y talleres</a></li>
				<li><a href="//{{ request.META.HTTP_HOST }}{% url 'home' %}#prices" class="navbar_head">Programa</a></li>
				<li><a href="//{{ request.META.HTTP_HOST }}{% url 'home' %}#video" class="navbar_head">Libro</a></li>
				<!-- <li><a href="//{{ request.META.HTTP_HOST }}{% url 'home' %}#video" class="navbar_head">Testimonios</a></li> -->
				<li><a href="//{{ request.META.HTTP_HOST }}{% url 'home' %}#contact-form" class="navbar_head">Contacto</a></li>
				<li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<!-- // NAVBAR -->

{% block content %}{% endblock content %}


<!-- FOOTER -->
<footer id="footer">
	<div class="container">© 2017 Pancho Tobar</div>
</footer>
<!-- // FOOTER -->

<!-- SCRIPTS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.nav.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/jquery.isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.iheight.js' %}"></script>
<script src="{% static 'js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'js/jquery.owl.carousel.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script>
	function initialize() {
		var myLatlng = new google.maps.LatLng(-33.4516119,-70.5731827),
				mapOptions = {
					zoom: 16,
					center: new google.maps.LatLng(-33.4516119,-70.5731827),
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					disableDefaultUI: true
				},
				map = new google.maps.Map(document.getElementById('google-map'), mapOptions),
				marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title: 'Creatorica'
				});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script> -->
<!-- // SCRIPTS -->

<link rel="stylesheet" href="{% static 'demo/demo.css' %}">
<!-- // DEMO FEATURES -->

<!-- Yandex.Metrika counter -->
<!-- <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25749287 = new Ya.Metrika({id:25749287}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25749287" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
<!-- /Yandex.Metrika counter -->
</body>
</html>
