{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ program.name }}{% endblock title %}

{% block content %}
  <!-- <br> -->
<!--   <br>
  <br> -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 margin-top-20">
          <!-- <div class="col-md-6 text-center"> -->
            <img src="{{ program.image.image_detail }}" alt="{{ program.name }}" class="img-responsive thumbnail">
          <!-- </div> -->
        </div>
        <div class="col-md-12">
          <!-- <div class="col-md-6 text-center"> -->
            <br>
            <h3 class="roboto-font">{{ program.name }}</h3>
            <p style="text-align: justify;">
              {{ program.description|safe }}
              <br>
              <br>
              <br>
              <p class="roboto-font"> Si deseas obtener mayor información puedes llamarme haciendo <a href="tel:+56944943011" class="btn btn-default btn-lg roboto-font">
                <strong>Click Aquí</strong></a>
            </p>
          <!-- </div> -->
        </div>
      </div>


    </div>
  </div>
{% endblock content %}
